
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.xap
*/ClientBin/*
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/*.dll
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Silverlight/*.dll
*.vsmdi
Source/Solution/Local.testsettings
Source/Solution/TraceAndTestImpact.testsettings
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/Open.Core.Clr.dll
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/Open.Core.Clr.dll
Source/Open.TestHarness/TestHarness.Web/ClientBin/Open.Core.UI.Test.xap
Source/Open.TestHarness/TestHarness.Web/ClientBin/Open.TestHarness.xap
Source/Open.Core/Clr/Test/Open.Core.Cloud.Test/TableStorage/CodeGeneration/Output/MockEntity1TableEntity.cs
Source/Open.Core/Clr/Test/Open.Core.Cloud.Test/TableStorage/CodeGeneration/Output/*
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/Open.Core.Clr.dll
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/Open.Core.Clr.dll
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/Open.Core.Clr.dll
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/Open.Core.Clr.dll
Source/Open.TestHarness/Test/TestHarness.Sample/Lib/Open.Core/Clr/Open.Core.Clr.dll
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.Test.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.Test.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.TestHarness.Bootstrap.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.TestHarness.Bootstrap.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.TestHarness.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.TestHarness.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/TestHarness.Test.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/TestHarness.Test.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/mscorlib.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/mscorlib.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.Controls.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.Controls.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.Lists.debug.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/Content/Scripts/Open.Core.Lists.js
/Source/Open.TestHarness.Html/Clr.TestHarness.Web/TestHarness.Web.Publish.xml
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Core.Controls.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Core.debug.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Core.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Core.Lists.debug.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Core.Lists.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Library.Jit.debug.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Library.Jit.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/mscorlib.debug.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/mscorlib.js
/Source/Open.Core/Clr/Open.Core.Web/Content/Scripts/Open.Core.Controls.debug.js