/* ----------- Log ----------- */
div.c_log { }
div.c_log_list { overflow:auto; }

.c_log_listItem {
    position:relative;
    border-bottom:solid 1px #e0e1e2;
    padding:5px 14px;
}
.c_log_icon {
    background-repeat: no-repeat;
    background-position:0px 1px;
    padding-left:20px;
}

.c_log_sectionBreak {
    height:19px;
    padding:0px;
    background:#eceff3;
    background-image:url(/Open.Core/Images/Log.SectionDivider.Rip.png);
    background-repeat:repeat-x;
}

.c_log_counter { 
    color:#8d8d8d; 
    float:left;
}

.c_log_message { 
    margin-left:55px;
    margin-right:55px;
}

.c_log_totalChars  {
    font-size:7pt;
    color:#7e7e7e;
}

/* ----------- Log : Dividers ----------- */
.c_log_lineBreak { border-bottom-color:#f35ae7; }
div.c_log_margin {
    left:50px;
    border-left-color:#91faff;
    border-left-width:1px;
    border-left-style:solid;
    width:1px;
}

/* ----------- Log : Severity ----------- */
.c_log_info { }
.c_log_debug { }
.c_log_warning { background-color:#faecc9; }
.c_log_error { background-color:#fadadb; }
.c_log_success { background-color:#e4f7e1; }
.c_log_event { background-color:#fef9e2; }


/* ----------- Log : <UL> ----------- */
div.c_log p.c_log_listTitle { }
div.c_log ul
{
    position:relative;
    margin-left:35px;
    margin-top:4px;
    line-height:20px;
}

/* ----------- Log : Property List ----------- */
div.c_log ul.c_log_propList
{
    margin-left:21px;
    list-style-type: none;
    padding: 0;
    line-height:23px;
}

div.c_log ul.c_log_propList > li
{
    background-image: url(/Open.Assets/Icons/Api/Property.png);
    background-repeat: no-repeat;
    background-position:0px 5px;
    padding-left:20px;
}

div.c_log .c_log_propName { color:#a31515; }
div.c_log .c_log_propValue { color:#0000ff; }
div.c_log .c_log_propError { color:Red; }


/* ----------- Textbox ----------- */
div.textbox {
    background:white;
    position:relative;
    border: 1px solid #aeaeae;
}
div.textbox.focus { border: 1px solid #7da2ce; }
img.textbox.icon {
    position:absolute;
    left:0px;
    top:0px;
}

input.textbox  {
    border:none;
    background:transparent;
    font-family: Arial;
    font-size: 16px;
}


/* ----------- Panels ----------- */
div.collapsePanel { overflow:hidden; }
.collapsePanel .pinButton {
    position:absolute;
    top:4px;
    right:4px;
}


/* Tab Panel Set */
.c_tabPanelSet
{
    background:white;
    background: -moz-linear-gradient(top, white, #eeefef);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeefef));
}

.c_tabPanelSet .toolbarPosition
{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:24px;
}
.c_tabPanelSet .toolbarBackground
{
    background:#ebebeb;
    background: -moz-linear-gradient(top, #f2f4f3, #ebebeb);
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f4f3), to(#ebebeb));
}
.c_tabPanelSet .toolbar
{
    text-align:left;
    overflow:hidden;
}

.c_tabPanelSet .overflowing { display:none; }
.c_tabPanelSet .overflowing > img
{
    position:absolute;
    top:4px;
    right:4px;
}

.c_tabPanelSet .container
{
    position:absolute;
    left:0px;
    top:25px;
    right:0px;
    bottom:0px;
    overflow:hidden;
}

/* Tab Panel Set: Buttons */
.c_tabPanelButton { }
.c_tabPanelButton.background { background:transparent; }
.c_tabPanelButton .toolbarReflection { opacity:0.80;  filter:alpha(opacity=80) }
.c_tabPanelButton.over
{
    background:black;
    opacity:0.05;  filter:alpha(opacity=05)
}
.c_tabPanelButton.pressed
{
    background:#1773c1;
    background: -moz-linear-gradient(top, #1c86e1, #1360a0);
    background: -webkit-gradient(linear, left top, left bottom, from(#1c86e1), to(#1360a0));
}
.c_tabPanelButton.text
{
    text-align:center;
    padding-top:3px;
}
.c_tabPanelButton.text.pressed { color:White; }
.c_tabPanelButton.text.normal { color:#424242; }

