/* ----------- Log ----------- */
div.coreLog { }
div.coreLog-list { overflow:auto; }

.coreLog-listItem
{
    position:relative;
    border-bottom:solid 1px #e0e1e2;
    padding:5px 14px;
}

.coreLog-counter 
{ 
    color:#8d8d8d; 
    float:left;
}

.coreLog-message
{ 
    margin-left:55px;
    margin-right:55px;
}

/* ----------- Log Dividers ----------- */
.coreLog-lineBreak { border-bottom-color:#f35ae7; }
div.coreLog-margin
{
    left:50px;
    border-left-color:#91faff;
    border-left-width:1px;
    border-left-style:solid;
    width:1px;
}

/* ----------- Log Severity ----------- */
.coreLog-info { }
.coreLog-debug { }
.coreLog-warning { background-color:#faecc9; }
.coreLog-error { background-color:#fadadb; }
