/* ----------- Log ----------- */
div.c-log { }
div.c-log-list { overflow:auto; }

.c-log-listItem
{
    position:relative;
    border-bottom:solid 1px #e0e1e2;
    padding:5px 14px;
}

.c-log-sectionBreak
{
    height:19px;
    padding:0px;
    background:#eceff3;
    background-image:url(/Open.Core/Images/Log.SectionDivider.Rip.png);
    background-repeat:repeat-x;
}

.c-log-counter 
{ 
    color:#8d8d8d; 
    float:left;
}

.c-log-message
{ 
    margin-left:55px;
    margin-right:55px;
}

/* ----------- Log Dividers ----------- */
.c-log-lineBreak { border-bottom-color:#f35ae7; }
div.c-log-margin
{
    left:50px;
    border-left-color:#91faff;
    border-left-width:1px;
    border-left-style:solid;
    width:1px;
}

/* ----------- Log Severity ----------- */
.c-log-info { }
.c-log-debug { }
.c-log-warning { background-color:#faecc9; }
.c-log-error { background-color:#fadadb; }
.c-log-success { background-color:#e4f7e1; }
