/* Button Infrastructure */
.button { position:relative; }

.button .clickMask
{
    background:transparent;
}


/* Common Backgrounds */
.btnCommon.bg.silver.up
{
    background:#f0f1f0;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#e3e3e3));
    background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
}

.btnCommon.bg.silver.down
{
    background:#c6c6c6;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#e3e3e3), to(#f9f9f9));
    background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.btnCommon.bg.border
{
   border:solid 1px #cccccc;
}

.btnCommon.bg.border.highlight
{
   border:solid 1px #838383;
}


/* ImageButton */
.btnImage.icon
{
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.btnImage.bg.over { background:rgba(0,0,0, 0.03); }
.btnImage.bg.down { background:rgba(0,0,0, 0.06); }
.btnImage.bg.pressed { background:rgba(0,0,0, 0.03); }
