/* Global */
html { overflow:hidden; }
body * 
{ 
    margin: 0; 
    padding: 0;  
}

body
{
    font-family: Tahoma, Helvetica, Verdana;
    font-size:10pt;
}

div { -moz-user-select: none; }


/* Common */
.absoluteFill
{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

div.table { position:absolute; display:table; }


/* Typography */
.titleFont
{
    font-family: 'Lucida Grande', 'Segoe UI', Tahoma, Helvetica, Arial, Verdana;
}


/* Borders */
.panelBorder
{
    border-style: solid;
    border-color: #717376;
    border-width: 0px;
}
.panelBorderRight { border-right-width: 1px; }
.panelBorderTop { border-top-width: 1px; }
.panelBorderBottom { border-bottom-width: 1px; }

/* Reflections */
.toolbarReflection
{
    position:absolute;
    background:white;
    left:0px;
    top:0px;
    right:0px;
    bottom:50%;
    opacity:0.5; filter:alpha(opacity=50);
}

/* Drop Shadows */
.dropShadow
{
    background-image:url(/Open.Core/Images/DropShadow.12.030.png);
    background-repeat:repeat-x;
    height:12px;
}


/* Vertical Alignment */
.verticalAlignContainer { display:table; width:100%; height:100%; }
.verticalAlign
{
    position:relative;
    display:table-cell;
    vertical-align:middle;
}