div .coreListItem
{
    border-bottom-style:solid;
    border-bottom-color:#d7d7d7;
    border-bottom-width:1px;
    padding:15px 10px;
}

.coreListItem .itemLabel
{
    cursor:default;
    position:relative;
    font-size:14pt;
}

.selectedListItem
{
    color:white;
    background:#1773c1;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c86e1), to(#1360a0));
    background: -moz-linear-gradient(top, #1c86e1, #1360a0);
}