/*====== Panels ======*/
#testHarness
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
#testHarness .th-sidebar
{
    background:#e0e5eb;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width:250px;
}


/*====== Fonts ======*/
#testHarness .titleFont { font-family: "sovba-1", "sovba-2"; }


/*====== Toolbars ======*/
.th-toolbar
{
    background:#e4e4e4;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:25px;   
    border-color:#989898; 
}


/*====== Main ======*/
#testHarness .th-main
{
    position:absolute;
    left:251px;
    top:0px;
    right:0px;
    bottom:0px;
}

#testHarness .th-mainToolbar
{
    background:#f2f2f2;
    border-color:#d9d9d9;
}

#testHarness .th-mainContent
{
    position:absolute;
    left:0px;
    top:25px;
    right:0px;
    bottom:0px;
}


/*====== Output Log ======*/
#testHarnessLog
{
    background:#f9fafb;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:180px;
}

#testHarnessLog .th-log-titlebar { height:32px; }
#testHarnessLog .th-log-titlebar div.table { left:8px; height:32px; }
#testHarnessLog .th-log-titlebar p.title
{
    position:relative;
    display:table-cell;
    vertical-align:middle;
    font-size:14pt;
    color:#828282;
}
#testHarnessLog p.dropShadow
{
    position:absolute;
    left:0px;
    right:0px;
    top:33px;
}
#testHarnessLog div.th-log-content
{
    background:#f9fafb;
    top:33px;
}

#testHarnessLog div.th-log-list
{
    overflow:auto;
}

#testHarnessLog div.th-log-listItem
{
    border-bottom-color:#e0e1e2;
    border-bottom-width:1px;
    border-bottom-style:solid;
    padding:5px;
}

#testHarnessLog div.th-log-margin
{
    left:120px;
    border-left-color:#91faff;
    border-left-width:1px;
    border-left-style:solid;
    width:1px;
}
