/* Global */
html { overflow:hidden; }
body * 
{ 
    margin: 0; 
    padding: 0;  
}

body
{
    font-family: Tahoma, Helvetica, Verdana;
    font-size:10pt;
}

div { -moz-user-select: none; }


/* Typography */
.titleFont
{
    font-family: 'Lucida Grande', Tahoma, Helvetica, Arial, Verdana;
}


/* Borders */
.panelBorder
{
    border-style: solid;
    border-color: #717376;
    border-width: 0px;
}
.panelBorderRight { border-right-width: 1px; }
.panelBorderTop { border-top-width: 1px; }
.panelBorderBottom { border-bottom-width: 1px; }


/* Drop Shadows */
.dropShadow
{
    background-image:url(/Content/Images/Shadow/Drop.12.030.png);
    background-repeat:repeat-x;
    height:12px;
}

/* Reflections */
.toolbarReflection
{
    position:absolute;
    background:white;
    left:0px;
    top:0px;
    right:0px;
    bottom:50%;
    opacity:0.5; filter:alpha(opacity=50);
}

