/*-------------- Panels --------------*/
#testHarness
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}


/*-------------- Fonts --------------*/
#testHarness .titleFont { font-family: "myriad-pro-1","myriad-pro-2"; }
/* #testHarness .titleFont { font-family: "myriad-pro-semi-condensed-1","myriad-pro-semi-condensed-2"; } */




/*-------------- Toolbars --------------*/
.th-toolbar
{
    background:#e4e4e4;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:34px;
    border-color:#989898; 
}


/*-------------- Sidebar --------------*/
#testHarnessSidebar
{
    background:#e0e5eb;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width:250px;
}

#testHarnessSidebar .th-sidebarList { top:35px;  }
#testHarnessSidebar img.th-home
{
    position:absolute;
    display:none;
}

.c-listItem-label   /* Override: Open.Core.Lists */
{
    font-weight:300;
    font-size:16pt;
}


/*-------------- Main --------------*/
#testHarness .th-main
{
    position:absolute;
    left:251px;
    top:0px;
    right:0px;
    bottom:0px;
}

#testHarness .th-mainToolbar
{
    background:#f2f2f2;
    border-color:#d9d9d9;
}

#testHarness .th-mainContent
{
    position:absolute;
    left:0px;
    top:34px;
    right:0px;
    bottom:0px;
}


/*-------------- Output Log --------------*/
#testHarnessLog
{
    background:#f9fafb;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:180px;
}

#testHarnessLog .coreLog
{
    background:#f9fafb;
    top:33px;
}

#testHarnessLog .th-log-titlebar { height:32px; }
#testHarnessLog .th-log-titlebar div.table { left:8px; height:32px; }
#testHarnessLog .th-log-titlebar p.title
{
    position:relative;
    display:table-cell;
    vertical-align:middle;
    font-size:16pt;
    font-weight:300;
    color:#828282;
}
#testHarnessLog p.dropShadow
{
    position:absolute;
    left:0px;
    right:0px;
    top:33px;
}
