/*====== Panels ======*/
#testHarness
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
#testHarness .sidebar
{
    background:#e0e5eb;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width:250px;
}
#testHarness .main
{
    position:absolute;
    left:251px;
    top:0px;
    right:0px;
    bottom:0px;
}


/*====== Toolbars ======*/
.toolbar
{
    background:#e4e4e4;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:25px;   
    border-color:#989898; 
}


/*====== Main ======*/
#mainToolbar
{
    background:#f2f2f2;
    border-color:#d9d9d9;
}


/*====== Output Log ======*/
#testHarnessLog
{
    background:#f9fafb;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:180px;
}

#testHarnessLog .titlebar { height:32px; }
#testHarnessLog .titlebar div.table { position:absolute; display:table; left:8px; height:32px; }
#testHarnessLog .titlebar p.title
{
    position:relative;
    display:table-cell;
    vertical-align:middle;
    font-size:14pt;
    color:#a0a0a0;
}
#testHarnessLog p.dropShadow
{
    position:absolute;
    left:0px;
    right:0px;
    top:33px;
}
