/* Panels */
#root
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

#sidebar
{
    background:#e0e5eb;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width:250px;
}

#main
{
    position:absolute;
    left:251px;
    top:0px;
    right:0px;
    bottom:0px;
}

/* Output Log */
#outputLog
{
    background:#f9fafb;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:180px;
}

#outputLogTitle
{
    position:relative;
    font-family: Tahoma, Helvetica, Arial, Verdana;
    font-size:14pt;
    color:#a0a0a0;
    margin-left:8px;
    margin-top:3px;
}

#outputLog p.dropShadow
{
    position:absolute;
    left:0px;
    right:0px;
    top:33px;
}


/* Toolbars */
.toolbar
{
    background:#e4e4e4;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:25px;   
    border-color:#989898; 
}

#mainToolbar
{
    background:#f2f2f2;
    border-color:#d9d9d9;
}

#outputLogToolbar{ height:32px; }

.toolbarReflection
{
    position:absolute;
    background:white;
    left:0px;
    top:0px;
    right:0px;
    bottom:50%;
    opacity:0.5; filter:alpha(opacity=50);
}



