/* Panels */
#root
{
    position:absolute;
    left:30px;
    right:30px;
    top:30px;
    bottom:30px;
}

#sidebar
{
    background:#e0e5eb;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width:250px;
}

#main
{
    background:#f2f2f2;
    position:absolute;
    left:251px;
    top:0px;
    right:0px;
    bottom:0px;
}

#outputLog
{
    background:#e5e5e5;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:100px;
}


/* Borders */
.panelBorder
{
    border-style: solid;
    border-color: #86898d;
    border-width: 0px;
}
.panelBorderRight { border-right-width: 1px; }
.panelBorderTop { border-top-width: 1px; }






