/* Panels */
#root
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    
    /* TEMP */
    color:#bababa;
}

#sidebar
{
    background:#e0e5eb;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width:250px;
}

#main
{
    position:absolute;
    left:251px;
    top:0px;
    right:0px;
    bottom:0px;
}

#outputLog
{
    background:#e5e5e5;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:100px;
}

/* Toolbars */
.toolbar
{
    background:#e1e1e1;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:25px;   
    border-color:#989898; 
}

#mainToolbar
{
    background:#f2f2f2;
    border-color:#d9d9d9;
}


/*
        opacity:0.2;
    filter:alpha(opacity=20);

*/



